.header .navbar-right .icon{
	display:inline-block;
	width:32px;
	height:16px;
	background-position:center center;
	background-repeat:no-repeat;
	vertical-align: middle;
}

.ico-header-user{
	background-image:url(../../images/ico-header-user.png);
}

.ico-header-password{
	background-image:url(../../images/ico-header-password.png);
}

.ico-header-login{
	background-image:url(../../images/ico-header-login.png);
}

.ico-header-logout{
	background-image:url(../../images/ico-header-logout.png);
}